

.main-content-wrapper
{
	height: 100%;
	
}

.topics-news-content
{

	height: auto;
	width: auto;
}

.topics-news
{
	height: auto;
}
.topics
{
	border-right: 1px solid #E5E5E5;
	height: 100%;

	article
	{
	h3
	{
		color: red;
		font-size: 16px;
		font-weight: 600;
	}
	span
	{
		text-transform: uppercase;
		color: black;
		font-size: 20px;
		font-weight: 700;
	}
	p
	{
		font-family: 'Playfair Display',serif;
		font: 17px/21px serif;
		
		letter-spacing: 0.25px;
	}
	}
}
.topics-content
{
	text-align: center;
	img
	{
		width:95%;
		padding-top: 20px;
	}
}

.bottom-topics
{
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
}
